p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    flex-direction: column;
}

/* sidebar  */
.sidebar {
    display: inline-block;
    width: 100%;
    height: 15rem;
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar__mobile {
    padding-left: 0;
    margin: 3rem auto;
    justify-content: center;
}

.sidebar__desktop {
    display: none;
    visibility: hidden;
}

.sidebar__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    border: .1rem solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar__element+.sidebar__element {
    margin-left: 1.5rem;
}

/* end of sidebar  */

/* finish  */
.finish {
    background-color: rgba(173, 190, 255, .2);
}

.finish__wrapper {
    transform: translateY(-6em);
    padding: 3rem 2rem;
    margin: 0 2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transform: translateY(-6em);
    -moz-transform: translateY(-6em);
    -ms-transform: translateY(-6em);
    -o-transform: translateY(-6em);
}

.finish__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
}

.finish__text {
    margin: 1rem 0;
    font-size: 1.7rem;
    color: hsl(231, 11%, 63%);
}

.options__container {
    min-height: 27.3rem;
    padding: 1rem 2rem;
    background-color: rgba(173, 190, 255, .1);
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
}

.option {
    margin: 2rem auto;
    max-width: 50rem;
}

.option--change {
    border-bottom: .1rem solid rgba(150, 153, 171, .4);
}

.option__name,
.option__total {
    color: hsl(231, 11%, 63%);
    font-size: 1.7rem;
    letter-spacing: .1rem;
    padding: 1rem 0;
}

.option__name--dark {
    color: hsl(213, 96%, 18%);
    font-weight: 600;
}

.option__name--dark::first-letter {
    text-transform: uppercase;
}

.option__change {
    padding-bottom: 1.5rem;
    color: hsl(231, 11%, 63%);
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-skip: initial;
    cursor: pointer;
}

.option__content,
.option--change {
    justify-content: space-between;
    align-items: center;
}

.fa-trash {
    display: none;
    visibility: hidden;
}

.fa-trash.active {
    margin-left: .5rem;
    display: inline;
    visibility: visible;
    cursor: pointer;
}

.option__cost,
.option__total-cost {
    font-size: 1.7rem;
    color: hsl(213, 96%, 18%);
    opacity: .9;
}

.option__cost--bold {
    font-weight: 600;
    opacity: 1;
}

.option-summary {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
}


.finish__wrapper--last {
    padding: 10rem 3rem;
    display: block;
    justify-content: center;
    display: none;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
}

.last__text,
.last__heading {
    text-align: center;
}

.last__heading {
    margin: 3rem 0 2rem 0;
    font-size: 3.2rem;
    color: hsl(213, 96%, 18%);
}

.last__text {
    color: hsl(231, 11%, 63%);
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: .1rem;
}

/* end of options  */

.next-btn--desktop {
    display: none;
    visibility: hidden;
}

.footer {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    border-radius: .5rem;
}

.go-back {
    text-transform: capitalize;
    color: hsl(231, 11%, 63%);
    font-size: 1.7rem;
    font-weight: 500;
    padding: .5em 1em;
    margin: 1rem 0;
}

.go-back--desktop {
    visibility: hidden;
    display: none;
}

.next-btn {
    background-color: #483EFF;
    height: 3em;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: .5em 1em;
    margin: 1rem 0;
    color: hsl(0, 0%, 100%);
    box-shadow: .5rem .5rem -2rem hsl(213, 96%, 18%);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

/* end of finish  */
@media(min-width:780px) {
    body {
        background-color: hsl(226, 68%, 95%);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        margin: 10rem 0;
        width: 80%;
        max-width: 130rem;
        box-shadow: .1rem .1rem .1rem hsl(229, 24%, 87%);
        background-color: hsl(0, 0%, 100%);
        flex-direction: row;
    }

    .sidebar {
        margin: 1.5rem;
        background-image: url(../assets/images/bg-sidebar-desktop.svg);
        background-position: center;
        height: auto;
        flex-basis: 30%;
        min-width: 30rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        padding: 5rem;
    }

    .sidebar__mobile {
        display: none;
    }

    .sidebar__element:nth-of-type(1) {
        margin-left: 1.5rem;
    }

    .sidebar__element {
        margin-bottom: 2rem;
    }

    .next-btn--mobile {
        display: none;
        visibility: hidden;
    }

    .sidebar__desktop {
        display: block;
        visibility: visible;
    }

    .desktop-element {
        width: 100%;
        margin-bottom: 2rem;
        color: hsl(0, 0%, 100%);
    }

    .option {
        max-width: 50rem;
    }

    .desktop-element__number {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        font-weight: 500;
        font-size: 1.4rem;
        border: .1rem solid hsl(0, 0%, 100%);
        color: hsl(0, 0%, 100%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .desktop-element__content {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
    }

    .desktop-element__step {
        color: hsl(231, 11%, 63%);
    }

    .desktop-element__text {
        font-weight: 500;
    }

    .finish {
        flex-basis: 75%;
        position: initial;
        max-width: initial;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        background-color: hsl(0, 0%, 100%);
        border-radius: initial;
        -moz-border-radius: initial;
        -ms-border-radius: initial;
        -o-border-radius: initial;
        -webkit-border-radius: initial;
    }

    .finish__wrapper {
        height: auto;
        margin: 2.5rem 0;
        min-height: 50rem;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .finish__wrapper--last {
        display: none;
    }

    .css-checkbox+label::before {
        width: 30px;
        height: 30px;
    }

    .css-checkbox:checked+label::after {
        margin-left: 2rem;
    }

    .go-back--desktop {
        visibility: visible;
        display: block;
    }

    .nav {
        transform: translateY(3rem);
        align-items: flex-end;
        justify-content: space-between;
        -webkit-transform: translateY(3rem);
        -moz-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        -o-transform: translateY(3rem);
    }

    .next-btn--desktop {
        display: inline-block;
        visibility: visible;
        margin-bottom: 0;
        padding: 0 2.5em;
        transition: opacity .2s;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
    }

    .next-btn--desktop:hover {
        opacity: .8;
    }

    .next-btn--mobile {
        display: none;
        visibility: hidden;
    }

    .footer {
        display: none;
    }

}