/* common */
p {
    margin-bottom: 0;
}

/* end of common */

.wrapper {
    width: 100%;
    flex-direction: column;

}

/* sidebar  */
.sidebar {
    display: inline-block;
    width: 100%;
    height: 15rem;
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar__mobile {
    padding-left: 0;
    margin: 3rem auto;
    justify-content: center;
}

.sidebar__desktop {
    display: none;
    visibility: hidden;
}

.sidebar__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    border: .1rem solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar__element+.sidebar__element {
    margin-left: 1.5rem;
}

/* end of sidebar  */

/* personal  */
.personal {
    background-color: rgba(173, 190, 255, .2);
}

.personal__wrapper {
    height: 50rem;
    transform: translateY(-6em);
    padding: 3rem 2rem;
    padding-bottom: 0;
    margin: 0 2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transform: translateY(-6em);
    -moz-transform: translateY(-6em);
    -ms-transform: translateY(-6em);
    -o-transform: translateY(-6em);
}

.personal__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
}

.personal__text {
    font-size: 1.7rem;
    color: hsl(231, 11%, 63%);
}

.form-text {
    margin-top: .5rem;
    font-size: 1.2rem;
    color: hsl(231, 11%, 63%);
}

.personal__label {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.personal__input {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
}

.next-btn {
    height: 3em;
    font-size: 1.4rem;
    padding: .5em 1em;
    margin: 1rem 0;
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    box-shadow: .5rem .5rem -2rem hsl(213, 96%, 18%);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.next-btn--mobile {
    margin-left: auto;
    transform: translate(-5rem, 8rem);
    -webkit-transform: translate(-5rem, 8rem);
    -moz-transform: translate(-5rem, 8rem);
    -ms-transform: translate(-5rem, 8rem);
    -o-transform: translate(-5rem, 8rem);
}

.next-btn--desktop {
    display: none;
    visibility: hidden;
}

.invalid-feedback--phone {
    white-space: nowrap
}

/* end of personal  */
/* footer */
.footer {
    width: 100%;
    height: 8rem;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    border-radius: .5rem;
}

/* end of footer */

@media(orientation:landscape) {
    .personal__wrapper {
        transform: translateY(-1.5em);
        -webkit-transform: translateY(-1.5em);
        -moz-transform: translateY(-1.5em);
        -ms-transform: translateY(-1.5em);
        -o-transform: translateY(-1.5em);
    }
}

@media(min-width:850px) {
    body {
        background-color: hsl(226, 68%, 95%);
        height: 100vh;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .wrapper {
        margin: 10rem 0;
        width: 80%;
        max-width: 130rem;
        box-shadow: .1rem .1rem .1rem hsl(229, 24%, 87%);
        background-color: hsl(0, 0%, 100%);
        flex-direction: row;
    }

    .sidebar {
        margin: 1.5rem;
        background-image: url(../assets/images/bg-sidebar-desktop.svg);
        background-position: center;
        height: auto;
        flex-basis: 30%;
        min-width: 30rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        padding: 5rem;
    }

    .sidebar__mobile {
        display: none;
    }

    .sidebar__element:nth-of-type(1) {
        margin-left: 1.5rem;
    }

    .sidebar__element {
        margin-bottom: 2rem;
    }

    .next-btn--mobile {
        display: none;
        visibility: hidden;
    }

    .sidebar__desktop {
        display: block;
        visibility: visible;
    }

    .next-btn--desktop {
        display: inline-block;
        visibility: visible;
    }

    .desktop-element {
        width: 100%;
        margin-bottom: 2rem;
        color: hsl(0, 0%, 100%);
    }

    .desktop-element__number {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        font-weight: 500;
        font-size: 1.4rem;
        border: .1rem solid hsl(0, 0%, 100%);
        color: hsl(0, 0%, 100%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .desktop-element__content {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
    }

    .desktop-element__step {
        color: hsl(231, 11%, 63%);
    }

    .desktop-element__text {
        font-weight: 500;
    }

    .personal {
        margin: 0 7rem;
        flex-basis: 75%;
        position: initial;
        max-width: initial;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        background-color: hsl(0, 0%, 100%);
        border-radius: initial;
        -moz-border-radius: initial;
        -ms-border-radius: initial;
        -o-border-radius: initial;
        -webkit-border-radius: initial;
    }

    .personal__wrapper {
        height: 50rem;
        margin: 2.5rem 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .personal__text {
        margin: 1rem 0;
        font-size: 1.4rem;
    }

    .personal__label {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: .1rem;
        margin-bottom: .5rem;
    }

    .personal__input {
        padding: 1rem 0 1rem 1.5rem;
        font-size: 1.3rem;
    }

    .next-btn--desktop {
        transform: translateY(-5rem);
        margin-left: auto;
        transition: opacity .2s;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        -webkit-transform: translateY(-5rem);
        -moz-transform: translateY(-5rem);
        -ms-transform: translateY(-5rem);
        -o-transform: translateY(-5rem);
    }

    .next-btn--desktop:hover {
        opacity: .8;
    }

    .next-btn--mobile {
        display: none;
        visibility: hidden;
    }

    .footer {
        display: none;
    }
}